@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'axiformaBold';
  src: url('../../public//fonts/axiformaBold.ttf');  
}
@font-face {
  font-family: 'axiformaRegular';
  src: url('../../public//fonts/axiformaRegular.ttf');  
}
.axiformaBold{
  font-family: 'axiformaBold';
  font-weight: 900; 
}
.axiformaRegular{
  font-family: 'axiformaRegular';
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}